<div layout="row" layout-padding class="xman-control">
  <fme-xman-control flex></fme-xman-control>
</div>
<div layout="row" layout-padding class="xman-row-title">
  <div flex="10" class="callsign">Callsign</div>
  <div flex="5" class="delay" layout="row" layout-align="center">Delay</div>
  <div flex="5" class="flight-level" layout="row" layout-align="center">FL</div>
  <div flex="20" class="cop" layout="row" layout-align="center">COP</div>
  <div flex="35" class="speeds" layout="row" layout-align="center">Speed</div>
  <div flex="20" class="applied" layout="row" layout-align="center">Applied</div>
</div>
<md-progress-linear ng-if="xmanFlightList.isLoading()" md-mode="indeterminate"></md-progress-linear>
<md-divider></md-divider>
<div layout="column" layout-fill>
<fme-xman-flight-row ng-repeat="flight in xmanFlightList.flights track by $index" flight="flight" flex></fme-xman-flight-row>
<fme-xman-flight-row ng-repeat="flight in xmanFlightList.flights track by $index" flight="flight"></fme-xman-flight-row>
<fme-xman-flight-row ng-repeat="flight in xmanFlightList.flights track by $index" flight="flight"></fme-xman-flight-row>
<fme-xman-flight-row ng-repeat="flight in xmanFlightList.flights track by $index" flight="flight"></fme-xman-flight-row>
</div>
