<div
  layout="row"
  layout-padding
  class="xman-controls"
  layout-align="space-between"
>
  <fme-xman-list-control
    layout="row"
    layout-align="start start"
    flex
  >
  </fme-xman-list-control>
  <fme-xman-status
    layout="row"
    layout-align="end start"
    flex
  >
  </fme-xman-status>
</div>
<div layout="row" layout-padding class="xman-row-title">
  <div flex="10" class="callsign">Callsign</div>
  <div flex="5" class="delay" layout="row" layout-align="center">Delay</div>
  <div flex="5" class="flight-level" layout="row" layout-align="center">FL</div>
  <div flex="20" class="cop" layout="row" layout-align="center">COP</div>
  <div flex="35" class="speeds" layout="row" layout-align="center">Speed</div>
  <div flex="20" class="applied" layout="row" layout-align="center">Applied</div>
</div>
<md-progress-linear ng-if="$ctrl.isLoading" md-mode="indeterminate"></md-progress-linear>
<md-divider></md-divider>
<div layout="column" layout-fill>
  <fme-xman-flight-row
    ng-repeat="flight in $ctrl.flights track by flight.ifplId"
    ifpl-id="flight.ifplId"
    flex
  ></fme-xman-flight-row>
</div>
