<h2>List filters</h2>
<md-select 
  ng-model="$ctrl.destinationFilter"
  md-on-close="$ctrl.updateDestinationFilter()"
  multiple
  required
  ng-if="$ctrl.showDestinationFilter()"
>
  <md-option ng-repeat="dest in $ctrl.possibleDestinations track by $index" ng-value="dest">{{dest}}</md-option>
</md-select>
<md-checkbox
  ng-checked="$ctrl.queryParams.geographicalFilter"
  ng-click="$ctrl.toggleGeographicalFilter()"
  ng-disabled="$ctrl.isGeographicalFilterDisabled()"
  ng-if="$ctrl.showGeoAndVertFilters()"
>
  Geographical filter
</md-checkbox>
<md-checkbox
  ng-checked="$ctrl.queryParams.verticalFilter" 
  ng-click="$ctrl.toggleVerticalFilter()"
  ng-disabled="$ctrl.isVerticalFilterDisabled()"
  ng-if="$ctrl.showGeoAndVertFilters()"
>
  Vertical filter
</md-checkbox>