<h2>List filters</h2>
<md-select 
  ng-model="$ctrl.destinationFilter"
  md-on-close="$ctrl.updateDestinationFilter()"
  multiple
  required
>
  <md-option ng-repeat="dest in $ctrl.possibleDestinations" ng-value="dest">{{dest}}</md-option>
</md-select>
<md-checkbox
  ng-checked="$ctrl.verticalFilter" 
  ng-click="$ctrl.toggleVerticalFilter()"
>
  Vertical filter
</md-checkbox>
<md-checkbox
  ng-checked="$ctrl.geographicalFilter"
  ng-click="$ctrl.toggleGeographicalFilter()"
>
  Geographical filter
</md-checkbox>
