<h2>Highlight filter</h2>
<md-checkbox
  ng-checked="$ctrl.filterByDestination"
  ng-click="$ctrl.toggleFilterByDestination()"
  ng-disabled="$ctrl.isByDestinationDisabled()"
>
  By destination{{$ctrl.getByDestinationString()}}
</md-checkbox>
<md-checkbox
  ng-checked="$ctrl.filterByFlightLevel"
  ng-click="$ctrl.toggleFilterByFlightLevel()"
  ng-disabled="$ctrl.isByFlightLevelDisabled()"
>
  By flight level{{$ctrl.getByFlightLevelString()}}
</md-checkbox>
<md-checkbox
  ng-checked="$ctrl.filterByTodo"
  ng-click="$ctrl.toggleFilterByTodo()"
>
  With pending actions
</md-checkbox>
